.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: lightcoral;
  overflow-x: hidden;
}

.sidebar-toggle {
  outline: none;
  background: transparent;
  border: 1px solid limegreen;
  padding:0 12px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}